node-red/Edin_Usher_Flow.json
[{"id":"8c13b1d5.1a65b","type":"tab","label":"MainFlow","disabled":false,"info":""},{"id":"35f45646.37bd8a","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"node-red-server","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ddf935a5.e55398","type":"mqtt in","z":"8c13b1d5.1a65b","name":"","topic":"testtopic/1","qos":"2","datatype":"auto","broker":"35f45646.37bd8a","x":140,"y":140,"wires":[["743a05dc.7a403c"]]},{"id":"e57c823e.6b833","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"8c73c856.befac8","type":"http in","z":"8c13b1d5.1a65b","name":"","url":"/preguntas","method":"post","upload":false,"swaggerDoc":"","x":150,"y":260,"wires":[["7f4d562a.680cb8","a15e9907.346208","523ef7da.4226a8"]]},{"id":"7f4d562a.680cb8","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":260,"wires":[]},{"id":"7a74bc2a.94e004","type":"http request","z":"8c13b1d5.1a65b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/response","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":400,"wires":[["63b886d9.fce228"]]},{"id":"d1231a5b.404498","type":"inject","z":"8c13b1d5.1a65b","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{    \"idOperation\":7,    \"gloveCode\":\"1941238-1458400\",    \"answer\":2 }","payloadType":"json","x":150,"y":400,"wires":[["7a74bc2a.94e004"]]},{"id":"63b886d9.fce228","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":400,"wires":[]},{"id":"a15e9907.346208","type":"http response","z":"8c13b1d5.1a65b","name":"respuesta 200","statusCode":"","headers":{},"x":480,"y":220,"wires":[]},{"id":"743a05dc.7a403c","type":"json","z":"8c13b1d5.1a65b","name":"","property":"payload","action":"","pretty":false,"x":310,"y":140,"wires":[["e57c823e.6b833","7a74bc2a.94e004"]]},{"id":"523ef7da.4226a8","type":"mqtt out","z":"8c13b1d5.1a65b","name":"out_to_golves","topic":"testtopic/out","qos":"","retain":"","broker":"35f45646.37bd8a","x":560,"y":300,"wires":[]},{"id":"5bae0cc1.463244","type":"http request","z":"8c13b1d5.1a65b","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"http://localhost:3000/user","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":760,"wires":[["97effb65.1ac538"]]},{"id":"7e18bff8.f36bd","type":"inject","z":"8c13b1d5.1a65b","name":"Testing glovecode","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{ \"gloveCode\": 1324659823164 }","payloadType":"json","x":170,"y":760,"wires":[["5bae0cc1.463244"]]},{"id":"97effb65.1ac538","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":760,"wires":[]},{"id":"4282c757.a96b58","type":"json","z":"8c13b1d5.1a65b","name":"","property":"payload","action":"","pretty":false,"x":330,"y":500,"wires":[["d8e78278.ef7bc","5bae0cc1.463244"]]},{"id":"a60106e7.329fd8","type":"mqtt in","z":"8c13b1d5.1a65b","name":"","topic":"testtopic/registro","qos":"2","datatype":"auto","broker":"35f45646.37bd8a","x":160,"y":500,"wires":[["4282c757.a96b58"]]},{"id":"d8e78278.ef7bc","type":"debug","z":"8c13b1d5.1a65b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":500,"wires":[]}]