node-red/POST EDIN.json
[{"id":"5fdee290.aaab6c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"42389f21.7d53e","type":"google-cloud-credentials","name":"GCP edin pub-sub "},{"id":"ad63aa.e7a7dc58","type":"http in","z":"5fdee290.aaab6c","name":"","url":"/api/v1/operation","method":"post","upload":false,"swaggerDoc":"","x":220,"y":100,"wires":[["a2e5834c.c3762","43cade02.a9983","c912f4f8.00bff8"]]},{"id":"a2e5834c.c3762","type":"http response","z":"5fdee290.aaab6c","name":"repuesta 200","statusCode":"","headers":{},"x":680,"y":120,"wires":[]},{"id":"43cade02.a9983","type":"debug","z":"5fdee290.aaab6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":670,"y":60,"wires":[]},{"id":"c912f4f8.00bff8","type":"google-cloud-pubsub out","z":"5fdee290.aaab6c","account":"42389f21.7d53e","keyFilename":"e59e2934ad76dd74c3a290c155c6ffea2f16b121","topic":"projects/flatbox-edin/topics/edincloud-in","name":"EdinCloud-Out","x":660,"y":200,"wires":[["3aa58f86.6bc1a"]]},{"id":"3aa58f86.6bc1a","type":"debug","z":"5fdee290.aaab6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":200,"wires":[]},{"id":"31dd865c.ad65da","type":"google-cloud-pubsub in","z":"5fdee290.aaab6c","account":"42389f21.7d53e","keyFilename":"e59e2934ad76dd74c3a290c155c6ffea2f16b121","subscription":"projects/flatbox-edin/subscriptions/test-edinfrom-module","assumeJSON":true,"name":"Response from gloves","x":220,"y":320,"wires":[["e8e146b4.320518","fd9d5ee8.56884"]]},{"id":"e8e146b4.320518","type":"http request","z":"5fdee290.aaab6c","name":"Post esponse from devices","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://devloop.space:3001/api/v1/response","tls":"","persist":false,"proxy":"","authType":"","x":720,"y":320,"wires":[["38c8cc9b.0058d4"]]},{"id":"38c8cc9b.0058d4","type":"debug","z":"5fdee290.aaab6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":400,"wires":[]},{"id":"fd9d5ee8.56884","type":"debug","z":"5fdee290.aaab6c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":670,"y":380,"wires":[]},{"id":"5aca5ab3.452cd4","type":"http request","z":"5fdee290.aaab6c","name":"Register a module.","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://devloop.space:3001/api/v1/module","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":440,"wires":[["38c8cc9b.0058d4"]]},{"id":"e511767f.4df638","type":"google-cloud-pubsub in","z":"5fdee290.aaab6c","account":"42389f21.7d53e","keyFilename":"e59e2934ad76dd74c3a290c155c6ffea2f16b121","subscription":"projects/flatbox-edin/subscriptions/register_modules_out","assumeJSON":true,"name":"Response from gloves","x":180,"y":440,"wires":[["5aca5ab3.452cd4"]]}]